{% extends 'snipp/base.html' %}

{% block title %}
<title>Colaborador</title>
{% endblock %}

{% block content %}

<div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
    <div id="particles-js"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-6 text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Seja um  <strong><br>colaborador</strong></h1>
          </div>
        </div>
      </div>
</div>

<section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-6 text-center heading-section">
              <span class="subheading">Colabore</span>
              <h2 class="mb-4">Veja como pode ajudar</h2>
              <p> - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto  </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
              <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center"><div class="icon color-3 d-flex justify-content-center mb-3"><span class="align-self-center icon-attach_money"></span></div></div>
                <div class="media-body p-2 mt-3">
                  <h3 class="heading">Doe</h3>
                  <p>- Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto .</p>
                </div>
              </div>      
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
              <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center"><div class="icon color-1 d-flex justify-content-center mb-3"><span class="align-self-center icon-favorite"></span></div></div>
                <div class="media-body p-2 mt-3">
                  <h3 class="heading"> Resgate </h3>
                  <p>- Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto </p>
                </div>
              </div>      
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
              <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center"><div class="icon color-2 d-flex justify-content-center mb-3"><span class="align-self-center icon-pets"></span></div></div>
                <div class="media-body p-2 mt-3">
                  <h3 class="heading"> Adote </h3>
                  <p>- Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto </p>
                </div>
              </div>    
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
              <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center"><div class="icon color-4 d-flex justify-content-center mb-3"><span class="align-self-center icon-phone_iphone"></span></div></div>
                <div class="media-body p-2 mt-3">
                  <h3 class="heading"> Compartilhe</h3>
                  <p>- Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto </p>
                </div>
              </div>      
            </div>
          </div>
        </div>
</section> 

<section class="ftco-section-parallax">
        <div class="parallax-img d-flex align-items-center">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-md-7 text-center heading-section heading-section-white">
                <h2>Quer ser colaborador?</h2>
                <p>Digite seu e-mail abaixo que iremos entrar em contato</p>
                <div class="row d-flex justify-content-center mt-5">
                  <div class="col-md-6">
                    <form action="#" class="subscribe-form">
                      <div class="form-group">
                        <span class="icon icon-paper-plane"></span>
                        <input type="text" class="form-control" placeholder="Digite seu e-mail">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>

<section class="ftco-section bg-light">
          <div class="container">
              <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section">
                      <span class="subheading">Depoimentos</span>
                      <h2 class="mb-4">Veja os depoimentos de nossos colaboradores</h2>
                      <p>- Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto </p>
                </div>
                <div class="row">
                      <div class="col-md-4">
                          <div class="testimony-wrap p-4 pb-5">
                              <div class="text p-4 d-block">
                                  <div class="meta mb-3">
                                      <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                                          <span class="quote d-flex align-items-center justify-content-center">
                                          <i class="icon-quote-left"></i>
                                          </span>
                                      </div>
                                      <div class="text">
                                          <p class="mb-5">Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto</p>
                                          <p class="name">Nome</p>
                                          <span class="position">Profissão</span>
                                      </div>    
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="testimony-wrap p-4 pb-5">
                              <div class="text p-4 d-block">
                                  <div class="meta mb-3">
                                      <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                                          <span class="quote d-flex align-items-center justify-content-center">
                                              <i class="icon-quote-left"></i>
                                          </span>
                                      </div>
                                      <div class="text">
                                        <p class="mb-5">Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto</p>
                                        <p class="name">Nome</p>
                                        <span class="position">Profissão</span>
                                      </div>    
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="testimony-wrap p-4 pb-5">
                              <div class="text p-4 d-block">
                                  <div class="meta mb-3">
                                      <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                                          <span class="quote d-flex align-items-center justify-content-center">
                                              <i class="icon-quote-left"></i>
                                          </span>
                                      </div>
                                      <div class="text">
                                        <p class="mb-5">Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto</p>
                                        <p class="name">Nome</p>
                                        <span class="position">Profissão</span>
                                      </div>  
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
</section> 

{% endblock %}