{% extends 'snipp/base.html' %}

{% block title %}
<title>Instituto Carpe Diem</title>
{% endblock %}

{% block content %}
<div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
  <div id="particles-js"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-6 text-center" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Instituto <strong><br> Carpe </strong><br> Diem</h1>
        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="#" class="btn btn-primary btn-outline-white px-5 py-3">Conheça nosso projeto</a></p>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-6 text-center heading-section ">
        <span class="subheading">Nosso projeto</span>
        <h2 class="mb-4">Adoção e cuidados com animais</h2>
        <p> - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center"><div class="icon color-3 d-flex justify-content-center mb-3"><span class="align-self-center icon-pets"></span></div></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Adoção</h3>
            <p>- Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto -</p>
          </div>
        </div>      
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center"><div class="icon color-1 d-flex justify-content-center mb-3"><span class="align-self-center icon-group"></span></div></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Colaboradores</h3>
            <p>- Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto -</p>
          </div>
        </div>      
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center"><div class="icon color-2 d-flex justify-content-center mb-3"><span class="align-self-center icon-face"></span></div></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Voluntarios</h3>
            <p>- Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto -.</p>
          </div>
        </div>    
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-self-stretch ">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center"><div class="icon color-4 d-flex justify-content-center mb-3"><span class="align-self-center icon-all_inclusive"></span></div></div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading"> Outra coisa</h3>
            <p>- Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto -</p>
          </div>
        </div>      
      </div>
    </div>
  </div>
</section>

<!-- Mapa -->
<section id="contact" class="map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br/>
  <small>
    <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
  </small>
</section>
<!-- Mapa -->
{% endblock %}