{% extends 'snipp/base.html' %}

{% block title %}
<title>Sobre</title>
{% endblock %}

{% block content %}
  <body>
   
       
    <!-- <div class="js-fullheight"> -->
    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div id="particles-js"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-6  text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'Inicial' %}">Início</a></span> <span class="mr-2"><a href="{% url 'Colaborador' %}">Seja colaborador</a></span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Sobre nós</h1>
          </div>
        </div>
      </div>
    </div>
    
    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ">
            <span class="subheading">Nossa história</span>
            <h2 class="mb-4">Instituto Carpe Diem</h2>
            <p>O Carpe Diem foi fundado por Julliana Dellalibera em fevereiro de 2019, porém tem funcionamento como apenas um projeto desde de agosto de 2018, o instituto trabalha com resgates de roedores exóticos.
              O Núcleo assistencial do Instituto Carpe Diem, está localizado na Mooca. Sua sede é a mesma desde o seu início, o imóvel é de propriedade de Juliana Dellalibera no qual é a atual presidente da instituição.
              A missão do Instituto é trabalhar no resgate de animais exóticos, o que explica o plano de expansão desejado pela mesma.
              </p>
          </div>
        </div>
      </div>
    </section>

    <div class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section">
            <span class="subheading">Voluntárias</span>
            <h2 class="mb-4">Nosso time</h2>
            <p>- Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-5 ">
            <div class="block-10">
              <div class="person-info mb-2">
                <span class="name">Aline Sousa</span>
                <span class="position">Web Developer</span>
              </div>
              <img src="images/person_1.jpg" alt="" class="img-fluid mb-3">
              <p>- Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto</p>
            </div>
          </div>
          <div class="col-md-4 mb-5 ">
            <div class="block-10">
              <div class="person-info mb-2">
                <span class="name">Erika Paiva</span>
                <span class="position">Web Developer</span>
              </div>
              <img src="images/person_3.jpg" alt="" class="img-fluid mb-3">
              <p>- Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto</p>
            </div>
          </div>
          <div class="col-md-4 mb-5 ">
            <div class="block-10">
              <div class="person-info mb-2">
                <span class="name">Julliana Nunes</span>
                <span class="position">Web Developer</span>
              </div>
              <img src="images/person_2.jpg" alt="" class="img-fluid mb-3">
              <p>- Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto - Texto</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-light">
      <section class="ftco-section-featured ftco-section-featured-2 ">
        <div class="container-fluid" data-scrollax-parent="true">
          <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-8 text-center heading-section ">
              <h2 class="h1">Nosso sonho é tornar o  <strong class="px-3">mundo</strong> melhor para os animais e para as pessoas.</h2>
              <p><a href="{% url 'Colaborador' %}" class="btn btn-primary mt-3 py-3 px-5">Seja um colaborador</a></p>
            </div>
          </div>
        </div>
      </section>
    </div>

    

  <!-- loader 
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

-->
 
  </body>
</html>
{% endblock %}